/* Global Styles */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f7f7f7;
}

a {
    text-decoration: none;
    color: #337ab7;
}

a:hover {
    color: #23527c;
}

/* Header Styles */

#header {
    background-color: #333;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline-block;
    margin-right: 20px;
}

nav a {
    color: #fff;
}

/* Hero Styles */

.hero {
    background-image: linear-gradient(to bottom, #333, #444);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#home h1 {
    font-size: 48px;
    color: #fff;
}

/* About Styles */

.about {
    background-color: #f7f7f7;
    padding: 40px;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

/* Projects Styles */

.project-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.project-list li {
    background-color: #f7f7f7;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
}

.project-list a {
    text-decoration: none;
    color: #337ab7;
}

.project-list img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

/* Contact Styles */

.contact {
    background-color: #f7f7f7;
    padding: 40px;
}

.address {
    margin-bottom: 20px;
}

a {
    text-decoration: none;
    color: #337ab7;
}

a:hover {
    color: #23527c;
}

/* Footer Styles */

#footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}